@charset "utf-8";

/*
Theme Name: Tastes Like Purple
Theme URI: http://students.washington.edu/andr3wj/taste-like-purple
Author: Andrew Johnson & Alan Jones
Author URI: http://students.washington.edu/andr3wj
Description: This theme was designed for the University of Washington's Purple Caster Minions group to easily manage content and events seemlessly.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: pcm, tasteslikepurple
*/
	img{
		max-width: 100% !important;
		height:auto !important;	
	}
	a{
		text-decoration:underline;	
	}
	.container{
		margin-left:auto;
		margin-right:auto;
		width:95%;
	}	
	.mobile{
        background-color:#39275b;
        box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
        display:block;
		top:0px;
		width:100%;
		height:50px;
		position:fixed;
		z-index:5;
		
    }
	.full{
		display:none;	
	}
 	main{
		padding-top:10px;	
	}

    #toggle-bar {
        line-height:50px;
        height:50px;
    }

    .mobile strong a {
        margin-left:30px;
        border:1px solid #444;
        padding:10px;
    }
 
    .navicon {
        float: right;
        height: 30px;
        width: 34px;
        margin: 10px;
        border-top: 18px double #FFF;
        border-bottom: 6px solid #FFF;
        font-size:0;
    }

    .menu {
        clear:both;
        list-style:none;
		padding:0;
		margin:0;
		background-color:#f3f2e9;
    }
 
    .mobile .container ul li a {
        display:block;
        text-transform:uppercase;
		text-decoration:none;
		color:#000;
        margin:2px 0;
        padding:6px 0 6px 8px;
    }
 
    .mobile .container ul ul {
        font-size:small;
    }
 
    .mobile .container ul ul li {
        margin-left:30px;
    }
 
    .mobile .container ul ul a {
        background-color:#333;
        padding-left:8px;
    }
 
    .mobile .container ul ul a:before {
        content: "2192";
        padding-right:8px;
    }
	
	.top{
		padding-left:10px;
		line-height:50px;
		color:#fff;
		font-family: 'Oswald', sans-serif;
		font-size:2em;
		text-decoration:none;
	}
	.title{
		display:block;
		margin:0;
		padding:5px;
		background-color:#39275b;
		color:#fff;
		text-decoration:none;
		text-align:center;
			
	}
	.post,
	.event {
		margin-top:2px;
		margin-bottom:5px;
		width:100%;
		position:relative;
	}
	.event-date-feature{
		position:absolute;
		top:0px;
		left:0px;
		padding:5px;
		float:left;
		background-color:#39275b;
		color:#fff;
		text-align:center;
		display:block;
		font-weight:800;
		z-index:1;
		font-size:1.3em;
	}
	.event-date{
		width:24%;
		height:75px;
		float:left;
		text-align:center;
		background-color:#39275b;
		color:#fff;
		font-weight:800;
		font-size:1.75em;
	
	}
	.event-title{
		width:74%;
		height:75px;
		float:right;
		background-color:#39275b;
	}
	.event-title h2{
		
		color:#fff;
		text-decoration:none;
		text-align:center;
		font-size:1.5em;
		margin:0;
		padding:0;
		height:inherit;
	}
	.hentry{
		word-wrap: break-word;	
	}
	.hentry a{
		text-decoration:none;	
	}
	.month{
		display:block;
		font-weight:400;
	}
	
	.clear{
		clear:both;	
	}
	.event-title-feature{
		width:100%;
	}
	
	.excerpt{
		background-color:#f3f2e9;
		padding:5px;
		display:none;
	}
	
	.excerpt a{
		color:#39275b;
		font-weight: bold;
			
	}
	.excerpt p{
		margin:0;	
	}
	.excerpt img{
		display:none;	
	}
	
	.sticky .event-date-feature,
	.sticky .event-date,
	.sticky .event-title,
	.sticky .title{
		background-color:#927b4c;
	}
	#wpadminbar{
		display:none;	
	}
	.aligncenter{
		margin:auto;
	}
	.alignleft{
		float:left;
		margin:5px;
		display:block;	
	}
	.alignright{
		float:right;
		margin:5px;	
	}
	.alignnone{
		clear:both;
		display:block;
	}
	.wp-caption{
		background-color:#e2e2e2;
		padding:5px;	
		font-style:italic;
		width:inherit;
	}

	.grid-size{
			width:100%;	
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width:768px) {
		.container{
			width:750px;
		}
		main{
			padding-top:25px;	
		}
		.excerpt{
			display:block;	
		}

		.title{
			text-align:left;	
		}
		
		.post,
		.event{
			width:49%;
			background-color:#f3f2e9;
			padding:5px;
			
		}
		.grid-size{
			width:50%;	
		}
		
		.sticky,
		.sticky .event-date-feature,
		.sticky .event-date,
		.sticky .event-title,
		.sticky .title{
			width:100%;
			background: none;
			color:#000;
			float:none;
		}
		 /*.hentry:nth-child(even){
			float:left;
			clear:left;
				
		}
		.hentry:nth-child(odd){
			float:right;
				
		}*/
		
		.mobile{
			display:none;	
		}
		.full{
			display:block;
			position:fixed;
			top:0;
			width:100%;
			background-color:rgba(0,0,0,.75);
			z-index:5;
		}
		.menu-full{
			background:none;
			text-align:center;
			padding:0;
			margin:0;
				
		}
		.menu-full li{
			display:inline-block;
			margin-left:30px;
			
		}
		
		.menu-full li a{
			color:#fff;
			text-decoration:none;
			font-size:2em;	
			padding-left:10px;
			

		}
		
		.menu-full li:first-child{
			float:left;
			font-family: 'Oswald', sans-serif;
			margin:none;	
		}
		.event-date-feature{
			top:5px;
			left:5px;
		}
		


	}
@media (min-width: 992px) {		
		.container{
			width:970px;
		}
		main{
			padding-top:25px;	
		}
		.excerpt{
			display:block;	
		}

		.title{
			text-align:left;	
		}
		
		.post,
		.event{
			width:32%;
			background-color:#f3f2e9;
			padding:5px;
			
		}
		.grid-size{
			width:33%;	
		}
		
		.sticky,
		.sticky .event-date-feature,
		.sticky .event-date,
		.sticky .event-title,
		.sticky .title{
			width:100%;
			background: none;
			color:#000;
			float:none;
		}
		 /*.hentry:nth-child(even){
			float:left;
			clear:left;
				
		}
		.hentry:nth-child(odd){
			float:right;
				
		}*/
		
		.mobile{
			display:none;	
		}
		.full{
			display:block;
			position:fixed;
			top:0;
			width:100%;
			background-color:rgba(0,0,0,.75);
			z-index:5;
		}
		.menu-full{
			background:none;
			text-align:center;
			padding:0;
			margin:0;
				
		}
		.menu-full li{
			display:inline-block;
			margin-left:30px;
			
		}
		
		.menu-full li a{
			color:#fff;
			text-decoration:none;
			font-size:2em;	
			padding-left:10px;
			

		}
		
		.menu-full li:first-child{
			float:left;
			font-family: 'Oswald', sans-serif;
			margin:none;	
		}
		.event-date-feature{
			top:5px;
			left:5px;
		}
		
}
